<main class="bg-splash-screen">
  <div class="splash-title">
    <p>Budget App</p>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center splash-buttons"> 
    <%= link_to "LOG IN", new_user_session_path, class: 'btn bg-main rounded-0' %>
    <%= link_to "SIGN UP", new_user_registration_path, class: 'btn btn-outline-none my-3 text-4 rounded-0' %>
  </div>
</main>