$main-color: #3778c2;
$bg-color: #f1f1f1;
$splash-bg: #f0f2f1;
$secondary-color: #5fb523;
$theme-text-1: #434b54;
$theme-text-2: #545c67;
$theme-text-3: #86898e;
$theme-text-4: #989da3;
$theme-text-5: #e4e7e8;

.bg-main {
  background-color: $main-color;
}

.bg-default {
  background-color: $bg-color;
}
