@font-face {
  font-family: "Proxima-Light";
  src: url("proximanova-light.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Regular";
  src: url("proximanova-regular.otf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Medium";
  src: url("proximanova-medium.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Bold";
  src: url("proximanova-bold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Bolder";
  src: url("proximanova-extrabold.otf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Black";
  src: url("proximanova-black.otf") format("truetype");
  font-weight: 1200;
  font-style: normal;
}
