@font-face {
  font-family: "Proxima-Light";
  src: url("proximanova-light.otf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Regular";
  src: url("proximanova-regular.otf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Medium";
  src: url("proximanova-medium.otf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Bold";
  src: url("proximanova-bold.otf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Black";
  src: url("proximanova-black.otf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Protest Revolution";
  src: url("ProtestRevolution-Regular.ttf") format("truetype");
  font-style: normal;
}
